# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
ENV/
.env
.venv

# PyCharm
.idea/

# VS Code
.vscode/settings.json

# Data files
*.csv
*.xlsx
data/output/

# Jupyter Notebooks
.ipynb_checkpoints/

# Distribution / packaging
dist/
build/
*.egg-info/